---
layout: default
title: El Heraldo del Viejo Mundo
---

## Últimas noticias de *The Old World*

{% for post in paginator.posts %}

<a href="{{ post.url | relative_url }}" style="text-decoration: none;">
  {% if post.title_original %}
    <p style="margin-bottom:0.2em; font-size:0.9em; font-weight:bold; color:#000;">
      Hoy, en Warhammer Community
    </p>
    <p style="margin:0; font-size:1.4em; font-weight:bold; color:#000;">
      {{ post.title_original }}
    </p>
    <p style="margin-top:0.2em; font-size:1.1em; color:#444;">
      {{ post.title_translated }}
    </p>
  {% else %}
    <p style="margin-bottom:0.2em; font-size:0.9em; font-weight:bold; color:#000;">
      Hoy, en
    </p>
    <p style="margin:0; font-size:1.3em; font-weight:bold; color:#b30000;">
      {{ post.channel }}
    </p>
    <p style="margin-top:0.2em; font-size:1.1em; color:#444;">
      {{ post.title }}
    </p>
  {% endif %}
</a>

<small>
  {% if post.source_date %}
    {{ post.source_date | date: "%d/%m/%Y" }}
  {% else %}
    {{ post.date | date: "%d/%m/%Y" }}
  {% endif %}
</small>

{% if post.thumbnail %}
<img src="{{ post.thumbnail }}" alt="Miniatura del vídeo" style="width:60%; max-width:300px; margin:10px 0;">
{% endif %}

{% if post.image %}
<img src="{{ post.image }}" alt="Imagen del artículo" style="width:100%; max-width:500px; margin:10px 0;">
{% endif %}

{{ post.excerpt }}
---

{% endfor %}

<!-- Navegación -->
<div style="margin-top: 2em;">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">← Anteriores</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" style="float: right;">Siguientes →</a>
  {% endif %}
</div>
