<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Nuestro CSS personalizado -->
  <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">
</head>
<body>
  <div class="page-content">

    {%- if page.categories contains "noticias" and page.title_original and page.title_translated -%}
      <h1 style="margin-top:0">
        <span style="color:#000;font-weight:700; font-size:0.6em">
          Hoy, en Warhammer Community:
        </span>
        <span style="color:#0057b8">
          {{ page.title_original }}
        </span>
        <span style="color:#555;font-size:0.8em">
          ({{ page.title_translated }})
        </span>
      </h1>
    {%- endif -%}

    {{ content }}
  </div>
</body>
</html>
