---
layout: default
---

<div style="max-width: 780px; margin: 0 auto; line-height: 1.6; font-family: Georgia, serif; font-size: 1.05em; color: #2d1d00;">

  {% if page.categories contains "noticias" and page.title_original and page.title_translated %}
    <div style="max-width: 780px; margin: 0 auto 1.5em auto; font-family: Georgia, serif; color: #1e1205;">

      <p style="margin: 0; font-size: 1em; font-weight: bold; color: #4e3b1f;">
        Hoy, en Warhammer Community:
      </p>

      <h1 style="margin: 0.2em 0 0.4em 0; font-size: 1.8em; line-height: 1.2; font-weight: bold; color: #002c66;">
        {{ page.title_original }}
      </h1>

      <p style="margin: 0; font-size: 1.1em; font-style: italic; color: #5c3e10;">
        ({{ page.title_translated }})
      </p>

    </div>
  {% endif %}

  {% if page.image %}
    <p>
      <img src="{{ page.image | relative_url }}"
           alt="Imagen del artículo"
           style="width:100%;max-width:600px;margin:0 0 1em;">
    </p>
  {% endif %}

  <style>
    div[style] p {
      margin-bottom: 1em;
    }

    div[style] img {
      display: block;
      margin: 1em auto;
      max-width: 100%;
      height: auto;
      border-radius: 4px;
    }

    div[style] em {
      color: #765c2b;
    }
  </style>

% if page.categories contains "torneos" %}
  <div class="torneo-card">
    {{ content }}
  </div>
{% else %}
  {{ content }}
{% endif %}


  <div class="giscus-container" style="margin-top: 3em;">
    <script src="https://giscus.app/client.js"
            data-repo="HeraldodelViejoMundo/Heraldo-del-Viejo-Mundo"
            data-repo-id="R_kgDOO2mnEw"
            data-category="Announcements"
            data-category-id="DIC_kwDOO2mnE84CrQpC"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="catppuccin_latte"
            data-lang="es"
            crossorigin="anonymous"
            async>
    </script>
  </div>
</div>
